<link rel="stylesheet" href="../Content/Index.css" />
<div id="content">
  <button
    onclick="
    document.getElementById('actions-content').style.display='block';
    document.getElementById('algo-select').value = '';
    document.getElementById('encrypt').style.display = 'grid';
    document.getElementById('decrypt').style.display = 'none';"
  >
    Encrypt
  </button>
  <button
    onclick="
    document.getElementById('actions-content').style.display='block';
    document.getElementById('algo-select').value = '';
    document.getElementById('decrypt').style.display = 'grid';
    document.getElementById('encrypt').style.display = 'none';"
  >
    Decrypt
  </button>
  <div id="actions-content">
    <label for="algo-select">Select algorithm</label>
    <select name="algo-select" id="algo-select">
      <option value="" selected disabled hidden>Select algorithm</option>
      <option value="Rsa">RSA</option>
      <option value="Dsa">DSA</option>
      <option value="ECDiffiehellman">ECDiffieHellman</option>
      <option value="ECAlgorithm">ECAlgorithm</option>
      <option value="ECDsa">ECDsa</option>
    </select>

    <div id="decrypt">
      <label for="private-key">Load Private key:</label>
      <input
        type="file"
        id="private-key"
        name="private-key"
        accept="text/xml"
        disabled
      />
      <label for="txt">Load txt string:</label>
      <input type="file" id="txt" name="txt" accept=".txt" disabled />
      <button id="btn-decrypt" disabled>Decrypt!</button>
      <div id="decrypted" hidden></div>
    </div>

    <div id="encrypt">
      <label for="txt-to-encrypt">Load txt to encrypt:</label>
      <input
        type="file"
        id="txt-to-encrypt"
        name="txt-to-encrypt"
        accept=".txt"
        disabled
      />
      <label for="encrypt-key">Load Private key:</label>
      <input
        type="file"
        id="encrypt-key"
        name="encrypt-key"
        accept="text/xml"
        disabled
      />
      <button id="btn-encrypt" disabled>Encrypt!</button>
    </div>
  </div>
  <script src="../Scripts/Index.js" type="text/javascript"></script>
</div>
