<link rel="stylesheet" href="../Content/Index.css" />
<div id="content">
  <button onclick="
    document.getElementById('actions-content').style.display='block';
    document.getElementById('encrypt').style.display = 'grid';
    document.getElementById('decrypt').style.display = 'none';">
    Encrypt
  </button>
  <button onclick="
    document.getElementById('actions-content').style.display='block';
    document.getElementById('decrypt').style.display = 'grid';
    document.getElementById('encrypt').style.display = 'none';">
    Decrypt
  </button>
  <div id="actions-content">
    <div id="decrypt">
      <label for="private-key">Load Private key:</label>
      <input type="file" id="private-key" name="private-key" accept="text/xml" onchange="decryptGetPrivateKey(event)" />
      <textarea name="private-key-text" id="private-key-text" cols="600" rows="5"></textarea>
      <label for="txt">Load txt string:</label>
      <input type="file" id="txt" name="txt" accept=".txt" disabled onchange="decryptGetTxt(event)" />
      <textarea name="txt-text" id="txt-text" cols="600" rows="5"></textarea>
      <button id="btn-decrypt" disabled onclick="decrypt()">Decrypt!</button>
    </div>

    <div id="encrypt">
      <label for="encrypt-key">Load Private key:</label>
      <input type="file" id="encrypt-key" name="encrypt-key" accept="text/xml" onchange="encryptGetPrivateKey(event)" />
      <textarea name="private-key-text-encrypt" id="private-key-text-encrypt" cols="600" rows="5"></textarea>

      <label for="txt-to-encrypt">Load txt to encrypt:</label>
      <input type="file" id="txt-to-encrypt" name="txt-to-encrypt" accept=".txt" disabled
        onchange="encryptGetTxt(event)" />
      <textarea name="txt-text-encrypt" id="txt-text-encrypt" cols="600" rows="5"
        oninput="encryptSetTxt(event)"></textarea>
      <button id="btn-encrypt" disabled onclick="encrypt()">Encrypt!</button>
    </div>
    <div id="txt-to-show" hidden></div>
  </div>
  <script src="../Scripts/Index.js" type="text/javascript"></script>
</div>